body {
	margin-bottom: 50px;
}

a {
	text-decoration: none;
	color: #0d84cc;
}

pre,
pre p,
pre strong,
pre ol,
pre ul,
pre li {
	line-height: 1rem;
}

pre p {
	margin: 0;
	padding: 0;
	line-height: 1.5rem;
}

pre {
	border-radius: 15px;
	border: 1px solid #aeb6b6;
	background: #b6bdbd radial-gradient(#eee, #bbbbbb);
	padding: 25px;
}

pre p,
pre li {
	word-break: break-all !important;
	white-space: normal !important;
	width: 100%;
}

pre table {
	width: 100% !important;
}

pre table {
	--tw-border-spacing-x: 0;
	--tw-border-spacing-y: 0;
	border-collapse: separate;
	border-spacing: var(--tw-border-spacing-x) var(--tw-border-spacing-y);
	margin-bottom: 0.25rem;
	margin-top: 0.25rem;
	width: 100%;
}

pre th {
	background-color: #ddd;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-width: 1px;
	border-right-width: 1px;
	padding: 0.25rem 0.75rem;
}

pre td {
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-width: 1px;
	border-right-width: 1px;
	padding: 0.25rem 0.75rem;
}