body {
	margin-bottom: 50px;
}

a {
	text-decoration: none;
	color: #0d84cc;
}

pre,
pre p,
pre strong,
pre ol,
pre ul,
pre li {
	line-height: 1rem;
}

pre p {
	margin: 0;
	padding: 0;
	line-height: 1.5rem;
}

pre {
	border-radius: 15px;
	background: #b6bdbd radial-gradient(#eee, #bbbbbb);
	padding: 10px;
}

pre p,
pre li {
	word-break: break-all !important;
	white-space: normal !important;
	width: 100%;
}

pre table {
	width: 100% !important;
}

pre table {
	--tw-border-spacing-x: 0;
	--tw-border-spacing-y: 0;
	border-collapse: separate;
	border-spacing: var(--tw-border-spacing-x) var(--tw-border-spacing-y);
	margin-bottom: 0.25rem;
	margin-top: 0.25rem;
	width: 100%;
}

pre th {
	background-color: #ddd;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-width: 1px;
	border-right-width: 1px;
	padding: 0.25rem 0.75rem;
}

pre td {
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-width: 1px;
	border-right-width: 1px;
	padding: 0.25rem 0.75rem;
}

pre code {
	border-radius: 10px;
}

@keyframes gradientAnimation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

hr.colorful {
	border: none;
	height: 5px; /* Thickness of the strip */
	background: linear-gradient(270deg, 
	#C70039, /* Vivid dark red */
	#FF5733, /* Vivid dark orange */
	#FFC300, /* Vivid dark yellow */
	#1E7F00, /* Vivid dark green */
	#0057FF, /* Vivid dark blue */
	#4A148C, /* Vivid dark indigo */
	#8E44AD); /* Vivid dark violet */
	background-size: 200% 200%; /* Extend the background size to allow for the animation */
	animation: gradientAnimation 8s ease infinite; /* Adjust the timing to control the speed */
}

@keyframes colorfulBorderAnimation {
	0%, 100% { border-color: #556270; } /* Dark Bluish Grey */
	20% { border-color: #4ECDC4; } /* Sea Foam */
	40% { border-color: #C7F464; } /* Lime Green */
	60% { border-color: #FF6B6B; } /* Soft Red */
	80% { border-color: #C44D58; } /* Dark Pastel Red */
  }
  
  .border-animated {
	animation: colorfulBorderAnimation 20s infinite linear;
	border: 5px solid; /* Initial border setup */
	width: auto; /* Dynamic width */
	height: auto; /* Dynamic height */
	padding: 15px;
	overflow: hidden; /* To handle content overflow */
	box-sizing: border-box; /* Includes padding and border in the element's total width and height */
  }
  
/*!
  Theme: Default
  Description: Original highlight.js style
  Author: (c) Ivan Sagalaev <maniac@softwaremaniacs.org>
  Maintainer: @highlightjs/core-team
  Website: https://highlightjs.org/
  License: see project LICENSE
  Touched: 2021
*/pre code.hljs{display:block;overflow-x:auto;padding:1em}code.hljs{padding:3px 5px}.hljs{background:#f3f3f3;color:#444}.hljs-comment{color:#697070}.hljs-punctuation,.hljs-tag{color:#444a}.hljs-tag .hljs-attr,.hljs-tag .hljs-name{color:#444}.hljs-attribute,.hljs-doctag,.hljs-keyword,.hljs-meta .hljs-keyword,.hljs-name,.hljs-selector-tag{font-weight:700}.hljs-deletion,.hljs-number,.hljs-quote,.hljs-selector-class,.hljs-selector-id,.hljs-string,.hljs-template-tag,.hljs-type{color:#800}.hljs-section,.hljs-title{color:#800;font-weight:700}.hljs-link,.hljs-operator,.hljs-regexp,.hljs-selector-attr,.hljs-selector-pseudo,.hljs-symbol,.hljs-template-variable,.hljs-variable{color:#ab5656}.hljs-literal{color:#695}.hljs-addition,.hljs-built_in,.hljs-bullet,.hljs-code{color:#397300}.hljs-meta{color:#1f7199}.hljs-meta .hljs-string{color:#38a}.hljs-emphasis{font-style:italic}.hljs-strong{font-weight:700}
